body {
    background-color: #394644;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#add-btn {
    background-color: rgba(54, 188, 168, 0.8);
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 16px;
    border-radius: 18px;
}

#add-btn:active {
    background-color: rgba(54, 188, 168, 0.4);
}

#form-box {
    border-radius: 18px;
    box-shadow: 2px 5px 30px 0px rgba(0,0,0,0.75);
    padding: 35px;
    background-color: #394644;
    color: #fff;
}

#form-box {
    margin-top: 120px;
}

form div + div {
    margin-top: 12px;
}

form input {
    background-color: #394644;
    color: #fff;
    padding: 3px;
}

form button {
    margin-top: 12px;
}

form {
    text-align: right;
}
form #radio {
    text-align: left;
}

.btn-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-box button.add, #form-box button.close, .modal .delete-btn {
    background-color: rgba(54, 188, 168, 0.8);
    color: #fff;
    font-size: 0.85rem;
    padding: 8px 24px;
    border-radius: 18px;
}

#form-box button.close, .modal .delete-btn {
    background-color: rgb(181, 38, 38);
}

#form-box button.add:active {
    background-color: rgba(54, 188, 168, 0.4);
    color: #394644;
}

#form-box button.close:active, .modal .delete-btn:active {
    background-color: rgba(181, 38, 38, 0.8);
}

/* Modal */
.modals {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}
.modal h5, .modal h2, .modal h3, .modal h4 {
    margin: 5px;
}
.modal {
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 2px 5px 30px 0px rgba(0,0,0,0.75);
    padding: 35px;
    background-color: rgba(54, 188, 168, 0.4);
    color: #fff;
    min-width: 23%;
    margin: 0px 1%;
    margin-bottom: 2%;
    text-align:  center;
}

.modal h3 span, .modal h4 span{
    font-style: italic;
}

.modal h5 input {
    vertical-align: middle;
}